<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Livs burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
<h1>Welcome to Liv's burgers</h1>
<section><h2>Select burger</h2>
<p>There are a lot of tasty ones!</p></section>

<table>
    <thead>
        <tr>
            <th><h3>The saucy burger</h3></th>
            <th><h3>The good burger</h3></th>
            <th><h3>The TTT burger</h3></th>
        </tr>
    </thead>

  <tbody>
          <tr>
                <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/32/be/36/saucy-burger.jpg" alt="A good saucy grilled burger" title="Saucy burger" width="350"></td>
                <td><img src="https://assets.bonappetit.com/photos/57acae2d1b33404414975121/master/pass/ultimate-veggie-burger.jpg" alt="A good saucy grilled burger" title="Real good" width="370"></td>
                <td><img src="https://images.kitchenstories.io/recipeImages/RP04_24_05_halloumiBurger_TitlePicture.jpg" alt="A good saucy grilled burger" title="Good if you're a vegetarian" width="330"></td>
          </tr>

          <tr>
              <td>
                    <ul>
                        <li>The meat is imported from the great madagascar</li>
                        <li>The sauce is a great mayo</li>
                        <li>The sallad has been plucked near the ocean</li>
                        <li class="allergies">Allergies: gluten, lactose</li>
                    </ul>
              </td>

              <td>
                    <ul>
                        <li>The veg is reaal</li>
                        <li>the bun is pretty dry...</li>
                        <li>The sallad has been plucked in the woods</li>
                        <li class="allergies">Allergies: gluten, lactose</li>
                    </ul>
              </td>

              <td>
                  <ul>
                      <li>Quality halloumi!</li>
                      <li>Truffle mayo</li>
                      <li>The sallad has been plucked in Sweden</li>
                      <li class="allergies">Allergies: gluten, lactose</li>

                  </ul>
             </td>

        </tr>

  </tbody>
</table>

<section>
  <h2>Customer info</h2>
<p>This is where you provide necessary information</p>

<p>
    <label for="Full name">Full name</label><br>
    <input type="text" id="firstname and lastname" name="fn" required="required" placeholder="First and last name" />
</p>
<p>
    <label for="Email:">Email</label><br>
    <input type="email" id="Email" name="ln" placeholder="Email" />
</p>

<p>
    <label for="Street">Street</label><br>
    <input type="text" id="Street" name="fn" required="required" placeholder="Street" />
</p>

<p>
    <label for="House numbers">House number</label><br>
    <input type="number" id="House numbers" name="fn" required="required" placeholder="House number" />
</p>

<p>
    <label for="recipient">Payment</label><br />
    <select id="recipient" name="rcp">
        <option>Mastercard</option>
        <option selected>Swisch</option>
        <option>Invoice</option>
        <option>Send cash</option>
        <option>Amex</option>
    </select>
</p>

<p>
    <label for="Gender">Gender</label><br />
        <input type="radio" value="value" id="female" name="gender">female</option>
        <input type="radio" value="value" id="male" name="gender">male</option>
        <input checked="checked" value="value" type="radio" id="other" name="gender">other</option>
</p>

</section>

<button type="submit"><img src="http://distributionsyd.se/wp-content/uploads/2017/02/pil-gron-png.png" width="50" /> SEND INFO!</button>

  </main>
<footer>Email: livsburgers@gmail.com <br /> Telephone: 070894634282345678</footer>
    </body>
</html>
