<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Livs burgers</title>
        <meta charset="utf-8"/>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script>
       <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js"></script>
    </head>
    <body>
      <main>
<header> <h1>Welcome to Liv's burgers</h1>
  <img src="https://pbs.twimg.com/media/C0NqtoCWIAADwKn.jpg" alt="A good saucy grilled burger" id="headerpic" title="Saucy burger" width="800">
</header>
  <h2>Select your favourite burger:</h2>
<p>There are a lot of tasty ones!</p></section>


<div id="myGrid" class="myBurgers">

<div id="burger1" class="box a">
<h3>{{name1}}</h3>
<img class="image" v-bind:src="image1">
  <ul id="burger1Info1">
  <li v-for="item in info1">
    {{item}}
  </li>
  </ul>
  <input type="checkbox" value="YES" id="fstBurgerCheck" name="NO">I want this burger!</option>
</div>

<div id="burger2" class="box b">
  <h3>{{name2}}</h3>
<img class="image" v-bind:src="image2">
<ul id="burger2Info2">
  <li v-for="item in info2">
    {{item}}
  </li>
</ul>
<input type="checkbox" value="YES" id="sndBurgerCheck" name="NO">I want this burger!</option>
</div>

<div id="burger3" class="box c">
  <h3>{{name3}}</h3>
<img class="image" v-bind:src="image3">
  <ul id="burger3Info3">
  <li v-for="item in info3">
    {{item}}
  </li>
  </ul>
  <input type="checkbox" value="YES" id="thrdBurgerCheck" name="NO" >I want this burger!</option>
</div>

</div>


<!--HTML CODE FOR JAVASCRIPT-->
<!--div id="myGrid" class="myBurgers">

<div id="burger1" class="box a">
</div>

<div id="burger2" class="box b">
</div>

<div id="burger3" class="box c" >
</div>

</div-->

<!--section>
  <div class="myBurgers">

     <div class="box a">
       <h3>The saucy burger</h3>
       <img class="image" src="https://media-cdn.tripadvisor.com/media/photo-s/0b/32/be/36/saucy-burger.jpg" alt="A good saucy grilled burger" title="Saucy burger" width="400">
       <ul>
           <li>The meat is imported from the great madagascar</li>
           <li>The sauce is a great mayo</li>
           <li>The sallad has been plucked near the ocean</li>
           <li class="allergies">Allergies: gluten, lactose</li>
       </ul>
    </div>

     <div class="box b">
       <h3>The good burger</h3>
       <img class="image" src="https://assets.bonappetit.com/photos/57acae2d1b33404414975121/master/pass/ultimate-veggie-burger.jpg" alt="A good saucy grilled burger" title="Real good">
       <ul>
           <li>The veg is reaal</li>
           <li>the bun is pretty dry...</li>
           <li>The sallad has been plucked in the woods</li>
           <li class="allergies">Allergies: gluten, lactose</li>
       </ul>
     </div>

     <div class="box c">
       <h3>The TTT burger</h3>
    <img class="image" src="https://images.kitchenstories.io/recipeImages/RP04_24_05_halloumiBurger_TitlePicture.jpg" alt="A good saucy grilled burger" title="Good if you're a vegetarian">
       <ul>
           <li>Quality halloumi!</li>
           <li>Truffle mayo</li>
           <li>The sallad has been plucked in Sweden</li>
           <li class="allergies">Allergies: gluten, lactose</li>
       </ul>
   </div>
  </div>
</section-->

<section id="customerinfo">
  <h2>Customer info</h2>
<p>This is where you provide necessary information</p>

<p>
    <label for="Full name">Full name</label><br>
    <input v-model="fullName" type="text" id="fullName" name="fn" required="required" placeholder="First and last name" />
</p>
<p>
    <label for="Email:">Email</label><br>
    <input v-model="email" type="email" id="email" name="ln" placeholder="Email" />
</p>

<p>
    <label for="Street">Street</label><br>
    <input v-model="street" type="text" id="street" name="fn" required="required" placeholder="Street" />
</p>

<p>
    <label for="House numbers">House number</label><br>
    <input v-model="houseNumber" type="number" id="houseNumber" name="fn" required="required" placeholder="House number" />
</p>

<p>
    <label for="recipient">Payment</label><br />
    <select v-model="pay" id="recipient" name="rcp">
        <option value="mastercard">Mastercard</option>
        <option value="swish" selected>Swish</option>
        <option value="invoice">Invoice</option>
        <option value="send cash">Send cash</option>
        <option value="amex">Amex</option>
    </select>
</p>

<p>
    <label id="gender" for="Gender">Gender</label><br />
        <input v-model="gender" type="radio" value="gender: female" id="female" name="gender">female</option>
        <input v-model="gender" type="radio" value="gender: male" id="male" name="gender">male</option>
        <input v-model="gender" checked="checked" value="gender: other" type="radio" id="other" name="gender">other</option>
</p>

</section>

<div id="orders">
<button id="myButton" v-on:click="markDone" type="submit"><img src="http://distributionsyd.se/wp-content/uploads/2017/02/pil-gron-png.png" width="50" /> SEND INFO! </button>
<p>
{{fullName}} <br>
{{email}}<br>
{{street}}<br>
{{houseNumber}}<br>
{{gender}}<br>
{{pay}}<br>
{{fstBurger}}<br>
{{sndBurger}}<br>
{{trdBurger}}
</p>
</div>


  </main>
<footer>Email: livsburgers@gmail.com <br /> Telephone: 070894634282345678</footer>
    </body>
</html>
