body {
    font-family: "Futura";
    color: Grey;
    text-align: Center;
    font-size: 130%;

}

.allergies {
  font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
}

#customerinfo {
}

button:hover {
background-color: green;
cursor: pointer;
}


input[type]:hover{
  background-color: Grey;
  cursor: pointer;
}

select{
cursor: pointer;
}
