body {
    font-family: "Futura";
    color: Grey;
    text-align: Center;
    font-size: 130%;
}

.allergies {
  font-weight: bold;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#burgers {
  background-color: black;
  color: white;
  border: 10px double white;
}

#customerinfo {
  border: 2px dashed grey;
  margin: 1px 6px 1px 6px;
  padding: 1px 2px 4px;
}

#headerpic{
  border: 10px double black;
  height: 80%;
  opacity: 0.4;
}

header{
  margin: 1px 0px 1px 0px;
  height: auto;
  overflow:hidden;
  width: 100%;
  padding: 1px 2px 4px;
}

h1{
  position: absolute;
  padding: 2px 350px 4px;
  color: #43464B;
}

button:hover {
background-color: green;
cursor: pointer;
margin: 50px 2px 3px 4px;
}

button {
  margin: 50px 2px 3px 4px;
}


input[type]:hover{
  background-color: orange;
  cursor: pointer;
}

select{
cursor: pointer;
}

table{
  width: 40%;
  height: 70%;
}

ul{
  text-align:left;
}

section{
  margin: 1px 2px 1px 4px;
  padding: 1px 9px 100px;
}

.myBurgers {
     display: grid;
     grid-gap: 10px;
     border: 10px double white;
     grid-template-columns: 400px 400px 400px;
     /*background-color: black;*/
     color: white;
 }

 .box {
     background-color: black;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 100%;

 }

 .a {
     grid-column: 1;
 }
 .b {
     grid-column: 2;
 }
 .c {
     grid-column: 3;
 }
